<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
{% include 'header.html' %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="499" border="1">
    <h1 style="color:black">welcome</h1>
    <!--<tr>-->
      <!--<td width="64" style="color:black"><a href="/admin_home">Home</a></td>-->
      <!--<td width="90" style="color:black"><a href="/View_users">View User</a></td>-->
      <!--<td width="91" style="color:black"><a href="/View_Blockedusers">Block Users</a></td>-->
      <!--<td width="118" style="color:black"><a href="/View_feedback">View Feedback</a></td>-->
      <!--<td width="102" style="color:black"><a href="/login">Logout</a></td>-->
    <!--</tr>-->
  </table>
</form>
</body>
{% include 'footer.html' %}
</html>
