<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
{% include 'header.html' %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="682" border="1">
    <tr>
      <td width="33" height="26" style="color:black">Id</td>
      <td width="56" style="color:black">Name</td>
      <td width="63" style="color:black">City</td>
      <td width="43" style="color:black">Age</td>
      <td width="47"style="color:black">DOB</td>
      <td width="59" style="color:black">Gender</td>
      <td width="74" style="color:black">Email</td>
      <td width="76" style="color:black">Gender </td>
      <td width="88" style="color:black">Mobile</td>
      <td width="79" style="color:black">Photo </td>
      <td width="79">&nbsp;</td>
    </tr>
    {% for d in val %}
    <tr>
      <td style="color:black">{{d[0]}}</td>
      <td style="color:black">{{d[1]}}</td>
      <td style="color:black">{{d[2]}}</td>
      <td style="color:black">{{d[3]}}</td>
      <td style="color:black">{{d[4]}}</td>
      <td style="color:black">{{d[5]}}</td>
      <td style="color:black">{{d[6]}}</td>
      <td style="color:black">{{d[7]}}</td>
      <td style="color:black">{{d[8]}}</td>

      <td style="color:black"><a href={{url_for('unblock',Id=d[0])}}>unblock</a></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
{% include 'footer.html' %}
</html>
